<div
  class="flex flex-col items-center gap-5 bg-white shadow-2xl rounded-md h-[600px] pt-8 border-t-[8px] border-t-gray-300"
>
  <h1 class="font-medium text-3xl">Basic Owner</h1>
  <p class="text-center w-[80%]">
    The necessities of worry-free care anytime you go away
  </p>
  <p class="flex gap-2">
    <span class="font-medium">US$</span>
    <span class="font-medium text-4xl">129</span>
    <span class="self-end">/ year</span>
  </p>
  <button
    class="w-[80%] text-pink-700 border-[1px] border-pink-700 rounded-3xl py-3"
  >
    Buy basic owner
  </button>
</div>
