<div class="mt-16 flex">
  <div class="relative w-1/2 h-[100vh]">
    <img
      *ngIf="filePath"
      class="w-44 h-44 rounded-[50%]"
      alt="image"
      [src]="filePath"
    />

    <div
      *ngIf="!filePath"
      class="w-44 h-44 rounded-[50%] relative bg-gray-200 flex justify-end items-end"
    >
      <p
        class="self-center text-xl text-center absolute left-1/2 -translate-x-1/2"
      >
        No photo
      </p>
    </div>

    <form
      (ngSubmit)="handleImageUpload()"
      class="absolute top-[25%] right-[58%] flex"
      [formGroup]="imageForm"
    >
      <div>
        <label for="upload-photo"
          ><mat-icon class="cursor-pointer">add_a_photo</mat-icon></label
        >
        <input
          #imageInput
          formControlName="img"
          accept="image/*"
          (change)="handleChange($event)"
          id="upload-photo"
          type="file"
          class="opacity-0 -z-10 absolute"
        />
      </div>
      <button
        [disabled]="!imageInput.files || !imageInput.files.length"
        class="ml-3 border-[1px] px-5 rounded-md font-medium disabled:text-gray-500 disabled:bg-transparent hover:bg-gray-200 py-1"
        type="submit"
      >
        {{ isImageUpdating ? "Update" : "Upload" }}
      </button>
    </form>
  </div>

  <div class="w-1/2">
    <form
      (ngSubmit)="handleSubmit()"
      [formGroup]="profileForm"
      class="flex flex-col gap-8"
    >
      <div class="flex items-center">
        <label class="font-medium w-[100px]">Email</label>
        <input
          formControlName="email"
          type="text"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        />
      </div>
      <div class="flex items-center">
        <label class="font-medium w-[100px]">Firstname</label>
        <input
          formControlName="firstname"
          type="text"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        />
      </div>
      <div class="flex items-center">
        <label class="font-medium w-[100px]">Lastname</label>
        <input
          type="text"
          formControlName="lastname"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        />
      </div>
      <div class="flex items-center">
        <label class="font-medium w-[100px]">Birth date</label>
        <input
          type="date"
          formControlName="dateOfBirth"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        />
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex items-center">
          <label class="font-medium w-[100px]">Country</label>
          <input
            (input)="onCountryChange($event)"
            type="text"
            formControlName="country"
            class="border-[2px] border-black py-2 pl-1 w-[70%]"
          />
        </div>
        <div
          *ngIf="countries.length"
          class="w-[70%] bg-gray-200 rounded-md py-4 pl-4 mx-auto"
        >
          <app-location-typeahead
            (countrySelected)="selectCountry($event)"
            [countries]="countries"
          ></app-location-typeahead>
        </div>
      </div>
      <div class="flex items-center">
        <label class="font-medium w-[100px]">City</label>
        <input
          type="text"
          formControlName="city"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        />
      </div>
      <div class="flex items-center">
        <label class="font-medium w-[100px]">Member type</label>
        <select
          formControlName="memberType"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        >
          <option value="owner">Owner</option>
          <option value="sitter">Sitter</option>
        </select>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center">
          <label class="font-medium w-[100px]">New password</label>
          <input
            formControlName="newPassword"
            type="password"
            class="border-[2px] border-black py-2 pl-1 w-[70%]"
          />
        </div>
        <span
          class="text-red-600 w-[70%] text-start self-end mx-auto"
          *ngIf="passwordConfirmError"
          >{{ passwordConfirmError }}</span
        >
      </div>
      <div class="flex items-center">
        <label class="font-medium w-[100px]">Confirm password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="border-[2px] border-black py-2 pl-1 w-[70%]"
        />
      </div>

      <button
        [disabled]="!profileForm.dirty"
        class="w-[70%] mx-auto text-white py-2 rounded-md disabled:bg-teal-600 bg-teal-600 hover:bg-teal-500"
      >
        Save changes
      </button>
    </form>
  </div>
</div>
