<div class="mb-16">
  <app-notification-box
    *ngIf="isNotificationBoxShown"
    [isSendingError]="isSendingError"
  ></app-notification-box>
  <h1 class="text-3xl font-medium">Send message</h1>
  <form
    (submit)="handleHelpFormSubmit()"
    [formGroup]="helpForm"
    class="flex flex-col mt-8 gap-8"
  >
    <div class="flex flex-col w-1/3 gap-3">
      <label class="text-xl font-medium">What is your question about?</label>
      <select
        formControlName="questionAbout"
        class="border-gray-400 border-[1px] rounded-md py-2 outline-0"
      >
        <option value="Becoming a Member">Becoming a Member</option>
        <option value="Existing Member Support">Existing Member Support</option>
      </select>
    </div>

    <div class="flex flex-col w-1/3 gap-3">
      <label class="text-xl font-medium">Your Email Address</label>
      <input
        formControlName="emailAddress"
        type="text"
        class="border-gray-400 border-[1px] rounded-md py-2 outline-0"
      />
      <span class="text-red-500" *ngIf="formErrors.emailAddressError">{{
        formErrors.emailAddressError
      }}</span>
    </div>

    <div class="flex flex-col w-1/3 gap-3">
      <label class="text-xl font-medium">Subject</label>
      <input
        formControlName="subject"
        type="text"
        class="border-gray-400 border-[1px] rounded-md py-2 outline-0"
      />
      <span class="text-red-500" *ngIf="formErrors.subjectError">{{
        formErrors.subjectError
      }}</span>
    </div>

    <div class="flex flex-col w-1/3 gap-3">
      <label class="text-xl font-medium">Description</label>
      <textarea
        formControlName="description"
        rows="{{ 6 }}"
        class="border-gray-400 border-[1px] rounded-sm outline-0"
      ></textarea>
      <span class="text-red-500" *ngIf="formErrors.descriptionError">{{
        formErrors.descriptionError
      }}</span>
    </div>

    <p class="w-1/3 text-gray-600">
      Please enter the details of your request. A member of our support staff
      will respond as soon as possible.
    </p>

    <button
      type="submit"
      class="text-white bg-teal-700 w-fit px-20 py-3 rounded-md hover:bg-teal-600"
    >
      Send
    </button>
  </form>
</div>
