<div
  class="relative bg-gray-100 h-20 border-t-[1px] flex items-center justify-between px-4"
>
  <div class="h-full flex items-center relative">
    <input
      [(ngModel)]="countrySearch"
      (input)="onLocationChange($event)"
      type="text"
      placeholder="Search sitters by location"
      class="border-[2px] w-96 h-[60%] pl-10 border-gray-600 rounded-sm outline-0"
    />
    <mat-icon class="absolute left-3">search</mat-icon>
  </div>
  <div
    *ngIf="countries.length"
    class="absolute top-24 z-50 bg-gray-100 pl-3 py-4 rounded-sm"
  >
    <app-location-typeahead
      (countrySelected)="onLocationClick($event)"
      [countries]="countries"
    ></app-location-typeahead>
  </div>

  <div class="mr-12 h-full flex items-center">
    <div
      (click)="toggleSelectedPetBox()"
      class="bg-teal-600 rounded-sm h-[45%] text-white px-6 flex items-center hover:bg-teal-500 cursor-pointer relative"
    >
      <p>My pets ({{ selectedPets.length }})</p>

      <div
        *ngIf="isSelectedPetBoxShown"
        class="absolute top-10 py-2 bg-gray-400 text-black rounded-sm pl-3 shadow-lg left-0 w-full"
      >
        <div class="flex gap-4" *ngFor="let variant of petVariants">
          <label class="w-[35%]" [for]="variant">{{ variant }}</label>
          <input
            [id]="variant"
            type="checkbox"
            [checked]="selectedPets.includes(variant)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex mt-24">
  <app-sitter-card
    [sitter]="sitter"
    *ngFor="let sitter of sitters"
  ></app-sitter-card>
</div>
