<div *ngIf="sitter" class="w-full">
  <div class="font-medium text-center" *ngIf="!sitter?.comments?.length">
    No Comments!
  </div>
  <div *ngIf="sitter.comments.length">
    <p>comment</p>
  </div>
  <div class="w-[80%] mx-auto mt-12">
    <textarea
      placeholder="Leave a comment..."
      rows="4"
      class="border-[1px] pl-1 border-gray-300 rounded-sm outline-0 w-full"
    ></textarea>
    <button
      class="bg-teal-600 text-white hover:bg-teal-700 w-full py-2 rounded-sm mt-4"
    >
      Add comment
    </button>
  </div>
</div>
