<div *ngIf="sitter" class="w-full flex flex-col">
  <div class="font-medium text-center" *ngIf="!sitter.comments.length">
    No Comments!
  </div>
  <div
    class="bg-gray-100 w-[80%] py-4 pl-2 mx-auto max-h-96 overflow-y-auto shadow-lg rounded-sm flex flex-col gap-8"
    *ngIf="sitter.comments.length"
  >
    <div
      class="flex items-center gap-2"
      *ngFor="let comment of sitter.comments"
    >
      <img
        class="w-8 h-8 rounded-[50%]"
        alt="profile-image"
        [src]="baseUrl + '/' + comment.author.profileImage"
      />
      <p class="font-medium">{{ comment.author.firstname }} :</p>
      <p>{{ comment.comment }}</p>
    </div>
  </div>
  <button
    [disabled]="sitter.comments.length === sitter.totalComments"
    (click)="onLoadMoreComments()"
    class="self-end mr-[10%] mt-1 disabled:text-gray-300 disabled:cursor-default text-blue-600 text-md cursor-pointer"
  >
    Load more comments...
  </button>
  <div class="w-[80%] mx-auto mt-12">
    <textarea
      [(ngModel)]="comment"
      placeholder="Leave a comment..."
      rows="4"
      class="border-[1px] pl-1 border-gray-300 rounded-sm outline-0 w-full"
    ></textarea>
    <button
      [disabled]="!comment"
      (click)="onAddComment()"
      class="bg-teal-600 text-white disabled:bg-teal-500 hover:bg-teal-700 w-full py-2 rounded-sm mt-4"
    >
      Add comment
    </button>
  </div>
</div>
