<div class="bg-gray-100 h-[120vh]">
  <div class="w-[70%] mx-auto pt-12">
    <h1 class="text-4xl text-teal-600 font-medium text-center mb-12">
      ANNUAL PLANS FOR PET & TRAVEL LOVERS
    </h1>
    <div class="flex">
      <div class="flex-1"><app-price-card type="premium"></app-price-card></div>
      <div class="flex-1">
        <app-price-card type="standard"></app-price-card>
      </div>
      <div class="flex-1"><app-price-card type="basic"></app-price-card></div>
    </div>
  </div>
</div>
