<div
  class="fixed top-0 bottom-0 left-0 right-0 bg-[rgba(0,0,0,0.5)] z-50"
></div>

<div
  *ngIf="registerSuccess"
  class="bg-white h-fit flex flex-col items-center justify-center gap-8 pb-16 w-[35%] rounded-md z-50 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <h1 class="text-teal-700 font-medium text-2xl mt-7">
    Successfully registered!
  </h1>

  <p class="text-gray-500 text-center text-md w-[70%]">
    By creating an account, you are agreeing to our
    <a
      target="_blank"
      routerLink="privacy-policy"
      class="text-teal-700 cursor-pointer font-medium"
      >privacy policy</a
    >
    and to receive discounts on your membership and more about how it works by
    email. You can unsubscribe at any time.
  </p>

  <button
    (click)="onSuccessRegisterClick()"
    class="text-white bg-pink-700 hover:bg-pink-600 px-8 py-2 rounded-3xl"
  >
    Login to your account
  </button>
</div>

<div
  *ngIf="!registerSuccess"
  class="bg-white h-screen overflow-y-scroll flex pb-16 w-[45%] rounded-md z-50 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <mat-icon
    (click)="onCloseFormClick()"
    class="absolute right-6 top-12 text-gray-700 text-4xl cursor-pointer"
    >close</mat-icon
  >
  <div class="w-[70%] mx-auto flex flex-col items-center pt-16 h-fit">
    <h1 class="text-teal-700 font-semibold text-4xl">BECOME A MEMBER</h1>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="onRegisterFormSubmit()"
      class="w-full flex flex-col gap-6 mt-16"
    >
      <div class="flex flex-col gap-3">
        <label class="font-medium">First name</label>
        <input
          [ngClass]="{
            'border-red-600':
              !registerForm.get('firstname')?.valid &&
              registerForm.get('firstname')?.touched
          }"
          formControlName="firstname"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
        <span
          *ngIf="
            !registerForm.get('firstname')?.valid &&
            registerForm.get('firstname')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon> Please enter your
          first name</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Last name</label>
        <input
          [ngClass]="{
            'border-red-600':
              !registerForm.get('lastname')?.valid &&
              registerForm.get('lastname')?.touched
          }"
          formControlName="lastname"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
        <span
          *ngIf="
            !registerForm.get('lastname')?.valid &&
            registerForm.get('lastname')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon> Please enter your
          last name</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Date of birth</label>
        <input
          [ngClass]="{
            'border-red-600':
              !registerForm.get('dateOfBirth')?.valid &&
              registerForm.get('dateOfBirth')?.touched
          }"
          formControlName="dateOfBirth"
          [max]="maxDateRestriction"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="date"
        />
        <span
          *ngIf="
            !registerForm.get('dateOfBirth')?.valid &&
            registerForm.get('dateOfBirth')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon> Please enter your
          date of birth</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Country</label>
        <input
          (input)="onCountryChange($event)"
          [ngClass]="{
            'border-red-600':
              !registerForm.get('country')?.valid &&
              registerForm.get('country')?.touched
          }"
          formControlName="country"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
        <div
          *ngIf="countries.length"
          class="w-full bg-gray-200 rounded-md py-4 pl-4"
        >
          <app-location-typeahead
            (countrySelected)="selectCountry($event)"
            [countries]="countries"
          ></app-location-typeahead>
        </div>
        <span
          *ngIf="
            !registerForm.get('country')?.valid &&
            registerForm.get('country')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon> Please enter your
          country</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">City</label>
        <input
          [ngClass]="{
            'border-red-600':
              !registerForm.get('city')?.valid &&
              registerForm.get('city')?.touched
          }"
          formControlName="city"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
        <span
          *ngIf="
            !registerForm.get('city')?.valid &&
            registerForm.get('city')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon> Please enter your
          city</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Email</label>
        <input
          [ngClass]="{
            'border-red-600':
              !registerForm.get('email')?.valid &&
              registerForm.get('email')?.touched
          }"
          formControlName="email"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
        <span
          *ngIf="
            !registerForm.get('email')?.valid &&
            registerForm.get('email')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon
          >{{
            registerForm.get("email")?.value
              ? "Ivalid email address"
              : "Please enter your email address"
          }}</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Password</label>
        <input
          [ngClass]="{
            'border-red-600':
              !registerForm.get('password')?.valid &&
              registerForm.get('password')?.touched
          }"
          formControlName="password"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="password"
        />
        <span
          *ngIf="
            !registerForm.get('password')?.valid &&
            registerForm.get('password')?.touched
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon>
          {{
            registerForm.get("password")?.value
              ? "Password must be at least 6
          characters long"
              : "Please enter your password"
          }}</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Confirm password</label>
        <input
          [ngClass]="{
            'border-red-600':
              (!registerForm.get('confirmPassword')?.valid &&
                registerForm.get('confirmPassword')?.touched) ||
              passwordsMatchError
          }"
          formControlName="confirmPassword"
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="password"
        />
        <span
          *ngIf="
            (!registerForm.get('confirmPassword')?.valid &&
              registerForm.get('confirmPassword')?.touched) ||
            passwordsMatchError
          "
          class="flex items-center text-red-600 gap-2 text-sm"
          ><mat-icon class="text-md">error_outline</mat-icon>
          {{
            passwordsMatchError
              ? "Passwords do not match"
              : "Please confirm password"
          }}</span
        >
      </div>

      <span
        *ngIf="registerError"
        class="flex items-center text-red-600 gap-2 text-center text-md font-medium"
        >{{ registerError }}</span
      >

      <button
        class="mt-8 text-white bg-pink-700 py-3 rounded-3xl hover:bg-pink-600"
        type="submit"
      >
        Create my free account
      </button>
    </form>

    <p class="text-gray-500 mt-12 text-center text-md">
      By creating an account, you are agreeing to our
      <a
        target="_blank"
        routerLink="privacy-policy"
        class="text-teal-700 cursor-pointer font-medium"
        >privacy policy</a
      >
      and to receive discounts on your membership and more about how it works by
      email. You can unsubscribe at any time.
    </p>
    <p class="mt-4 font-medium">
      Already have an account?
      <span
        (click)="onLoginClick()"
        class="text-teal-700 border-b-[1px] border-b-teal-700 cursor-pointer"
        >Log in</span
      >
    </p>
  </div>
</div>
