<div
  class="fixed top-0 bottom-0 left-0 right-0 bg-[rgba(0,0,0,0.5)] z-50"
></div>

<div
  class="bg-white h-screen overflow-y-scroll flex pb-16 w-[45%] rounded-md z-50 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <mat-icon
    (click)="onCloseFormClick()"
    class="absolute right-6 top-12 text-gray-700 text-4xl cursor-pointer"
    >close</mat-icon
  >
  <div class="w-[70%] mx-auto flex flex-col items-center pt-16 h-fit">
    <h1 class="text-teal-700 font-semibold text-4xl">BECOME A MEMBER</h1>

    <form class="w-full flex flex-col gap-6 mt-16">
      <div class="flex flex-col gap-3">
        <label class="font-medium">First name</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Last name</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Date of birth</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="date"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Location</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Email</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="text"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Password</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="password"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label class="font-medium">Confirm password</label>
        <input
          class="border-[1px] py-2 border-black pl-3 rounded-md outline-0"
          type="password"
        />
      </div>

      <button
        class="mt-8 text-white bg-pink-700 py-3 rounded-3xl hover:bg-pink-600"
        type="submit"
      >
        Create my free account
      </button>
    </form>

    <p class="text-gray-500 mt-12 text-center text-md">
      By creating an account, you are agreeing to our
      <a
        target="_blank"
        routerLink="privacy-policy"
        class="text-teal-700 cursor-pointer font-medium"
        >privacy policy</a
      >
      and to receive discounts on your membership and more about how it works by
      email. You can unsubscribe at any time.
    </p>
    <p class="mt-4 font-medium">
      Already have an account?
      <span
        (click)="onLoginClick()"
        class="text-teal-700 border-b-[1px] border-b-teal-700 cursor-pointer"
        >Log in</span
      >
    </p>
  </div>
</div>
