<div class="flex flex-col items-center">
  <img class="w-44 h-44 rounded-[50%]" alt="profile-image" [src]="imageSrc" />
  <h1 class="text-teal-800 font-medium text-xl mt-4">
    {{ sitter.firstname | titlecase }}
  </h1>
  <p class="text-lg text-gray-400 mt-1">
    {{ sitter.city }}, {{ sitter.country }}
  </p>

  <div class="flex items-center gap-2">
    <div class="stars-outer">
      <div [ngStyle]="{ width: starWidth }" class="stars-inner"></div>
    </div>

    <span class="text-[#f8ce0b] mt-1 text-lg font-semibold">{{
      sitter.ratings.length
    }}</span>
  </div>
</div>
