<header
  class="flex justify-between px-10 h-20 border-y-[1px] sticky top-0 z-10 bg-white"
>
  <div class="flex gap-x-6 items-center">
    <a
      routerLink="/"
      class="text-2xl text-green-500 font-semibold cursor-pointer"
    >
      TrustedPetSitters
    </a>
    <button routerLink="find-sitter" class="text-lg hover:text-gray-600">
      Find a pet sitter
    </button>
  </div>
  <div class="flex gap-6 text-lg items-center">
    <button routerLink="how-it-works" class="hover:text-gray-600">
      How it works
    </button>
    <button routerLink="help" class="hover:text-gray-600">Help</button>
    <button
      *ngIf="!isLoggedIn"
      routerLink="login"
      class="text-fuchsia-700 hover:text-fuchsia-600"
    >
      Log in
    </button>
    <button
      *ngIf="!isLoggedIn"
      (click)="onJoinNowClick()"
      class="bg-fuchsia-700 text-white px-5 py-2 rounded-3xl hover:bg-fuchsia-600"
    >
      Join Now
    </button>
    <div
      *ngIf="isLoggedIn"
      (click)="toggleProfileBox()"
      class="relative h-full px-2 flex gap-1 items-center text-gray-600 cursor-pointer hover:bg-gray-100"
    >
      <mat-icon> person_pin</mat-icon>
      <p>{{ firstname | titlecase }}</p>
      <mat-icon *ngIf="!isProfileBoxOpen">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="isProfileBoxOpen">keyboard_arrow_up</mat-icon>
    </div>
    <div
      *ngIf="isProfileBoxOpen"
      class="absolute flex flex-col gap-3 items-start p-4 bg-white shadow-2xl top-[120%] right-10 border-[1px] z-50 h-fit w-56"
    >
      <button
        routerLink="profile"
        class="hover:bg-gray-100 w-full text-start py-2 pl-2"
      >
        Profile
      </button>
      <button
        routerLink="help"
        class="hover:bg-gray-100 w-full text-start py-2 pl-2"
      >
        Help
      </button>
      <button class="hover:bg-gray-100 w-full text-start py-2 pl-2">
        Settings
      </button>
      <button
        (click)="onLogoutClick()"
        class="hover:bg-gray-100 w-full text-start py-2 pl-2 border-t-[1px] mt-4"
      >
        Log out
      </button>
    </div>
  </div>
</header>
