<header
  class="flex justify-between px-10 py-4 border-y-[1px] sticky top-0 z-10 bg-white"
>
  <div class="flex gap-x-6 items-center">
    <a
      routerLink="/"
      class="text-2xl text-green-500 font-semibold cursor-pointer"
    >
      TrustedPetSitters
    </a>
    <button class="text-lg hover:text-gray-600">Find a pet sitter</button>
  </div>
  <div class="flex gap-6 text-lg items-center">
    <button class="hover:text-gray-600">How it works</button>
    <button routerLink="help" class="hover:text-gray-600">Help</button>
    <button class="text-fuchsia-700 hover:text-fuchsia-600">Log in</button>
    <button
      class="bg-fuchsia-700 text-white px-5 py-2 rounded-3xl hover:bg-fuchsia-600"
    >
      Join Now
    </button>
  </div>
</header>
